body {
    background-color: rgb(8, 8, 8);
    font-family: "roboto", sans-serif;
}

/* Navigation section */

nav {
    position: relative;
    padding: 0.625rem 0;
    z-index: 500;
    width: 100vw;
}
nav h1 {
    font-size: 2.3rem;
    color: rgb(230, 230, 230);
    position: absolute;
    padding: 0.5rem;
    margin: 1.1rem 0;
    left: 1rem;
    top: 0;
    font-weight: 400;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;
    align-items: right;
}
nav li {
    margin: 0;
    padding: 1.25rem 0.313rem;
}
nav a {
    font-size: 1.25rem;
    color: #dcd9d2;
    text-decoration: none;
    transition: color 0.3s;
    background-color: #322c24;
    padding: 0.625rem 1.875rem;
    border: solid 2px #7a7673;
}
nav a:hover {
    background-color: rgb(100, 88, 72);
}

/* Header section on homepage */

header {
    background-image: url(hero-image.jpg);
    background-size: 115vw 115vh;
    background-repeat: no-repeat;
    background-position: right right;
    z-index: 0;
    height: 100vh;
    width: 100vw;
}
.header-content {
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin-bottom: 7%;
    margin-left: 3%;
}
.header-content button {
    background-color: white;
    color: rgb(8, 8, 8);
    padding: 1.1rem 4rem;
    font-size: 1.1rem;
    font-weight: 900;
    letter-spacing: 0.08rem;
    border: none;
}
.header-content h1{
    color: rgb(230, 230, 230);
    font-weight: 400;
    font-size: 4.5rem;
}
.header-content p {
    color: rgb(230, 230, 230);
    font-size: 1.4rem;
    line-height: 1.3;
}

/* Portfolio Section styles */

.container {
    width: 100%;
}
.image-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 85vw;
    padding: 0;
    margin: auto;
}
figure {
    position: relative;
    padding: 0;
    margin: 5%;
}
figure img {
    width: 100%;
}
.image-container img {
    padding: 0;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
@media screen and (max-width: 500px){
    .image-container {
        grid-template-columns: 1fr;
    }
    
}

